$background: #1e202c;
$foreground: #31323e;

$red: #75020f;
$darkpurple: #330066;
$purple: #60519b;
$lightpurple: #BB42F6;
$white: #bfc0d1;

$hotpink: #FF69B4;
$deeppink: #FF1493;

$hotyellow: #FFE100;
$hotblue: #0066FF;