@use "@/styles/theme";
.worksContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 3rem;
  //padding: 0;
  margin: 1rem;
  border-bottom: solid 0.1rem theme.$white;
}

.workCardContainer{
  display: flex;
  margin: auto;
  gap: 1rem;
}